@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border: 1px solid black;
  font-style: "Lucida Console";
}
th,
td {
  padding: 15px;
  text-align: left;
}
th {
  background-color: #258fa3;
  color: white;
}
h1 {
  width: 100%;
  text-align: center;
  background: #eb5c20;
  color: white;
}

h2 {
  width: 100%;
  text-align: center;
  background: #eb5c20;
  color: white;
}

h3 {
  width: 100%;
  text-align: center;
  background: #eb5c20;
  color: white;
}

.container {
  width: 100%;
  padding: 3vh 0;
  background: #eb5c20;
}

body,
html {
  width: 100%;
}
