/** @format */

section {
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Altezza della viewport */
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

div {
  margin: 20px;
}

#counter {
  font-size: 100px;
}

button {
  padding: 10px 100px; /* Spaziatura interna per il contenuto */
  font-size: 50px; /* Dimensione del testo */
  border: none;
  border-radius: 100px;
  cursor: pointer;
  color: #000000;
  background-color: #007bff; /* Colore di sfondo */
  transition: background-color 0.3s ease;
}
