.documento {
  display: flex;
}
.navigazione {
  display: flex;
  flex-direction: column;
}

.navigazione {
  width: 400px;
  /*height: 530px;*/
  background-color: #0e99dd;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}
.navigazione ul {
  list-style-type: none;
  padding-left: 2px;
}
.navigazione ul li {
  padding: 5px;
}
.navigazione ul li a {
  color: #fff;
  text-decoration: none;
}
.navigazione ul li a:hover {
  background-color: #555;
}

.testo {
  padding-left: 20px;
  height: 100vh;
}
