/** @format */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(77, 77, 89);
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.navbar {
  width: 100%;
  background-color: #bdc4a7;
  margin: auto;
  padding: 3vh 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  font-size: 2vh;
  margin: 1vh;
  text-decoration: none;
  color: #2f2f2f;
  text-transform: uppercase;
}

.navbar ul li::after {
  /*
    nell'after viene inserito l'elemento che poi
    si vuole nascondere, per poi visualzizarlo
    nell'hover::after 

    */
  content: '';
  height: 3px;
  width: 0%; /* qui viene inserita la larghezza 
  dell'elemento linea */
  opacity: 0; /*opacità 0 per renderla invisibile*/
  background: #2f2f2f;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.9s;
}

.navbar ul li:hover::after {
  width: 100%;
  opacity: 1;
}

.navbar ul li:hover a {
  color: #ff8451;
  font-weight: 700;
  transition: 0.5s;
}

.titolo_frontpage {
  display: flex;
  height: 12vh;
  justify-content: center;
  background: rgb(47, 47, 47);
  text-align: center;
  padding: 20px;
}

.titolo_frontpage h1 {
  margin-top: 3vh;
  font-weight: 400;
  font-size: 4vh;
  text-transform: uppercase;
  color: white;
}

.container {
  background-image: url(logo.png);
  background-size: 215vh;
  background-repeat: no-repeat;
}

.page_container {
  position: relative;
  min-height: 100vh;
  padding: 15vh;
}

.page_container p {
  text-align: justify;
  text-justify: inter-word;
}

.page_container h1,
h2,
h3 {
  padding: 1vh 0;
  color: #ff8451;
}

.img_markdown {
  height: 50vh;
}

pre {
  font-style: italic;
  font-weight: 200;
  background-color: hwb(72 82% 12%);
  padding: 3vh;
  margin: 2vh 0;
  border: 0.1vh #5f6061 solid;
}

code {
  font-style: italic;
  font-weight: 200;
  background-color: hwb(72 82% 12%);
  padding: 0.1vh;
  margin: 2vh 0;
}

.row {
  display: flex;
  justify-content: space-evenly;
  height: 60vh;
  margin: 0vh 20vh;
  flex-direction: row;
  padding: 10vh 10vh;
}

.col {
  padding: 2vh;
}

.col h3 {
  color: rgb(47, 47, 47);
  background-color: rgb(189, 196, 167);
  padding: 0.7vh;
  font-size: 4vh;
}
.col ul li {
  position: relative;
}

.col ul li a {
  font-weight: 200;
}

.col ul li a::after {
  content: '';
  height: 4px;
  width: 0%;
  opacity: 0;
  background-color: #ff8451;
  position: absolute;
  left: 0;
  top: 3.2vh;
  transition: 0.5s;
}

.col ul li a:hover::after {
  width: 100%;
  opacity: 1;
}

.col ul li a:hover {
  transition: 0.8s;
  font-weight: 700;
  color: #2f2f2f;
}

hr {
  color: white;
  background-color: white;
  margin: 1vh;
}

.container ul {
  font-size: 2.8vh;
  margin-top: 15vh;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 107, 67);
  padding: 60px;
  bottom: 0;
  align-items: center;
}

.insidefooter {
  width: 100%;
  background-color: rgb(239, 107, 67);
  padding: 3vh 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  top: auto;
  bottom: 0;
  position: relative;
  clear: both;
  height: 2.5rem;
  margin-top: -1.5rem;
}

.insidefooter ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.insidefooter ul li a {
  font-size: 2vh;
  margin: 1vh;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.insidefooter ul li::after {
  /*
    nell'after viene inserito l'elemento che poi
    si vuole nascondere, per poi visualzizarlo
    nell'hover::after 

    */
  content: '';
  height: 3px;
  width: 0%; /* qui viene inserita la larghezza 
  dell'elemento linea */
  opacity: 0; /*opacità 0 per renderla invisibile*/
  background: #2f2f2f;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.9s;
}

.insidefooter ul li:hover::after {
  width: 100%;
  opacity: 1;
}

.insidefooter ul li:hover a {
  color: white;
  font-weight: 700;
  transition: 0.5s;
}

footer p {
  font-size: 12px;
  color: rgb(255, 255, 255);
}

footer img {
  width: 150px;
}

@media (max-width: 900px) {
  .navbar ul li {
    display: block;
    transition: 0.5s;
    text-align: center;
  }

  .insidefooter {
    height: 10vh;
  }
  .insidefooter ul li {
    display: block;
    transition: 0.5s;
  }
}

@media (max-width: 500px) {
  .navbar ul li {
    display: block;
    transition: 0.5s;
    text-align: center;
  }

  .insidefooter {
    height: 10vh;
  }
  .insidefooter ul li {
    display: block;
    transition: 0.5s;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .col ul li a {
    font-weight: 600;
  }

  .col a {
    color: #ff8451;
  }

  .col ul li a:hover::after {
    width: 100%;
    opacity: 1;
  }
}
